.contenedor{
    background-color: #DFCD34;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font:bold;
    margin:20px;
    padding:10px
}
.papelera{
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}
.trash > .papelera{
    display: flex;
    align-items: center;
}

.parrafo{
    background-color: black;
    color:aliceblue;
    text-align: center;
    
}